#counter {
    color: blue;
    font-weight: normal;
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
}

body {
    background-image: url("https://raw.githubusercontent.com/ljc2177/potential-octo-engine/main/colloquium/Final%20Website/simplecity.jpg");
    background-size: cover;
    background-color: #cccccc;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    overflow-y: scroll;
}

#map {
    position: relative;
    width: 90%;
    height: 90%;
    left: 70px;
    top: 40px;
    z-index: 1;
}

button.devsubmit {
    background-color: rgba(0, 0, 0, 0.2);
    width: 130px;
    height: 70px;
    color: white;
    border: none;
    position: fixed;
    left: 23px;
    top: 23px;
    font-size: large;
    font-weight: bold;
}

button.launchMap {
    background-color: rgba(0, 0, 0, 0.4);
    width: 130px;
    height: 70px;
    color: white;
    border: none;
    position: absolute;
    top: 525px;
    left: 45%;
    font-size: large;
    font-weight: bold;
}

button.launchMap:hover {
    background-color: rgba(255, 255, 255, 0.4);
    color:white;
}

button.devsubmit:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#navbar {
    height: 120px;
    margin-top: 0;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    text-transform: uppercase;
    position:fixed;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lightblue;
    text-decoration: none;
}

#headerLinks {
    position: absolute;
    top: 50px;
    right: 23px;
}

#desc {
    position: relative;
    text-align: center;
    margin: auto;
    top:350px;
    width: 50%;
    font-size: 2em;
    color: white;
}

#imgcredit {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: x-small;
}

#navtitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 0px;
    margin: auto;
    height: 130px;
}

#wrap {
    display: block;
    margin-left: 34%;
    margin-right: 34%;
    width: 300px;
    height: 150px;
}

#mainpgimg {
    position:fixed;
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    height: 250px;
    margin-top: 100px;
}

#buildingForm {
    position: relative;
    left: 300px;
    top: 170px;
    border: none;
    margin: auto;
    width: 40%;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#loginForm {
    position: relative;
    top: 170px;
    border: none;
    margin: auto;
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#createForm {
    position: relative;
    top: 130px;
    border: none;
    margin: auto;
    width: 25%;
    padding: 30px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

#formtitle {
    text-transform: capitalize;
}

button.formsubmit {
    background-color: rgba(0, 0, 0, 0.2);
    width: 130px;
    height: 70px;
    color: white;
    border: none;
    position: relative;
    left: center;
    font-size: large;
    font-weight: bold;
}

button.formsubmit:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
}

#profile {
    text-align: left;
    position: relative;
    top: -400px;
    left: 70px;
    width: 50%;
    color: white;
}

#profheader {
    font-size: 2em;
}

#headerLinks {
    color: lightblue;
}

button.loginsubmit {
    background-color: rgba(0, 0, 0, 0.2);
    width: 130px;
    height: 70px;
    color: white;
    border: none;
    position: relative;
    left: center;
    font-size: large;
    font-weight: bold;
}

button.loginsubmit:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    border: none;
}

#create {
    color: white;
    text-align: center;
    position: relative;
    top: 200px;
    font-size: 1.15em;
}

#create a {
    color: white;
    text-decoration: underline;
}

#create a:hover {
    color: lightblue;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}